{% extends "base.html.twig" %}

{% block title %}QuizQuest{% endblock %}

{% block main %}
    <hgroup>
        <h1>QuizQuest</h1>
        <p class="lead">Your favorite quiz game!</p>
    </hgroup>

{% endblock main %}
